# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.DS_Store
/motion data.txt
*.log
/firebase/momotion-64f5e-firebase-adminsdk-jaztn-e7147afcf3.json
