:root {
  --main-nav-size: calc(0.6em + 1vw);
  --bg-color: #141414;
  --txt-color: #fff;
}

@font-face {
    font-family: 'inknut_antiquaregular';
    src: url('../fonts/InknutAntiqua-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inknut_antiqualight';
    src: url('../fonts/InknutAntiqua-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background: var(--bg-color);
  color: #fff;
  box-sizing: border-box;
  
  -moz-osx-font-smoothing: grayscale;   /* Firefox */
  -webkit-font-smoothing:  antialiased; /* WebKit  */
}

h1 {
  font-family: AkzidenzGroteskBQ-BoldExt;
  font-size: var(--main-nav-size);
}
a {
  text-decoration: none;
  color: #fff;
}
.gedicht {
  font-family: inknut_antiqualight;
  font-size: calc(0.75em + 2vw);
  padding-right: 30vh;
  letter-spacing: -0.02em;
  line-height: 1.3;
}
@media (max-width: 800px) {
  .gedicht {
    padding-right: 10vh;
  }
}
.move-marker {
/*
  underline:
  https://css-tricks.com/styling-underlines-web/
*/
  border-bottom: 2px solid var(--txt-color);
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    1.5px 1.5px var(--bg-color),
    1.5px -1.5px var(--bg-color),
    -1.5px 1.5px var(--bg-color),
    -1.5px -1.5px var(--bg-color);
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh
}



main>section {
  display: flex;
  flex-direction: row;
  transition: all 1s;
}



.balken h1 {
  margin: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
  white-space:nowrap;

}

.balken {
  width: var(--main-nav-size);
  border-left: 2px solid #fff;
  height: 100vh;
  margin-right: 10px;
  padding-left: 5px;
}
.balken-links {
  border-right: 2px solid #fff;
  border-left: none;
  padding-right: 10px;
}

.about span {
  opacity: 0;
  transition: opacity 0.3s;
}

.about:hover>span {
  opacity: 1;
}

.text-body {
  transition: all 1s;
}

/** This class will hide all the body be default **/
.hide{
  visibility: hidden;
  opacity: 0;
  width: 0;
}

/** This class will show the body if it has a parent with active       class
**/
.active {
   visibility: visible;
  opacity: 1;
  width: 100%;
}