:root {
  --main-nav-size: calc(0.6em + 1vw);
  --bg-color: #000;
  --txt-color: #fff;
}

@font-face {
    font-family: 'inknut_antiquaregular';
    src: url('../fonts/InknutAntiqua-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inknut_antiqualight';
    src: url('../fonts/InknutAntiqua-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background: #000;
  color: #fff;
  box-sizing: border-box;
  
  -moz-osx-font-smoothing: grayscale;   /* Firefox */
  -webkit-font-smoothing:  antialiased; /* WebKit  */
}

h1 {
  font-family: AkzidenzGroteskBQ-BoldExt;
  font-size: var(--main-nav-size);
}
a {
  text-decoration: none;
  color: #fff;
}
.gedicht {
  font-family: inknut_antiqualight;
  font-size: calc(1.5em + 1vw);
  padding-right: 30vh;
  letter-spacing: -0.02em;
  line-height: 1.3;
  
}
.move-marker {
  border-bottom: 2px solid var(--txt-color);
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    1.5px 1.5px var(--bg-color),
    1.5px -1.5px var(--bg-color),
    -1.5px 1.5px var(--bg-color),
    -1.5px -1.5px var(--bg-color);
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh
}

.gedicht-wrapper {
  display: flex;
  flex-direction: row;
}



.balken h1 {
  margin: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
  white-space:nowrap;

}

.balken {
  width: var(--main-nav-size);
  border-left: 2px solid #fff;
  height: 100vh;
  margin-right: 10px;
  padding-left: 5px;
}
.balken-links {
  border-right: 2px solid #fff;
  border-left: none;
  padding-right: 10px;
}

.about span {
  opacity: 0;
  transition: opacity 0.3s;
}

.about:hover>span {
  opacity: 1;
}