


body {
  font-size: 5rem;
}

#type {
  font-size: 7rem;
  padding: 100px 0px;
  text-align: center;
}


button {
  width: 100%;
  font-size: 5rem;
  height: 800px;
  border-radius: 0px;
  background: grey;

}
